@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
  font-family: 'Ubuntu';
  font-optical-sizing: auto;
  font-style: normal;
}
h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}